.visible {
    display: block;
}

.hidden {
    display: none;
}

#Password {
    margin-bottom: 20px;
}

table img, ul img, ol img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    display: block;
  }
  
  